.game {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* figure out how to align and contain .tile divs within the #board */
#board {
  border: 10px solid #9D9B8E;
  box-shadow: 0 0 3px #05121B, inset 0 0 3px #05121B;
  border-radius: 10px;
  margin: auto;
  height: 400px;
  width: 800px;
  position: relative;
  float: none;
}

.tile {
  border: 1px solid black;
  font-size: 25px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-family: sans-serif;
  float: left;
}

body {
  background-size: 100% 100%;
}

h1 {
  text-align: center;
  color: #9D9B8E;
  text-shadow: -1px 0 #05121B, 0 1px #05121B, 1px 0 #05121B, 0 -1px #05121B;
}

ul {
  list-style: none;
  text-align: center;
  color: #9D9B8E;
  text-shadow: -1px 0 #05121B, 0 1px #05121B, 1px 0 #05121B, 0 -1px #05121B;
}
